<div class="row">
	<div class="col s12 m3">
		<a href="#hotel">
			<div class="card">
				<div class="card-image">
					<img src="./src/img/8.jpg">
					<span class="card-title">Название</span>
				</div>
				<div class="card-content">
                    <div class="row">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h3>Германия</h3>
					<p>В этом блоке находится описание отеля. Поле содержит лишь базовую информацию. Для подробного изучения нажмите кнопку "Подробнее".</p>
				</div>
				<div class="card-action">
					<a href="#hotel">Подробнее</a>
				</div>
			</div>
			<a>
	</div>
	<div class="col s12 m3">
		<a href="#hotel">
			<div class="card">
				<div class="card-image">
					<img src="./src/img/1.jpg">
					<span class="card-title">Название</span>
				</div>
				<div class="card-content">
                    <div class="row">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h3>Германия</h3>
					<p>В этом блоке находится описание отеля. Поле содержит лишь базовую информацию. Для подробного изучения нажмите кнопку "Подробнее".</p>
				</div>
				<div class="card-action">
					<a href="#hotel">Подробнее</a>
				</div>
			</div>
		</a>
	</div>
	<div class="col s12 m3">
		<a href="#hotel">
			<div class="card">
				<div class="card-image">
					<img src="./src/img/2.jpg">
					<span class="card-title">Название</span>
				</div>
				<div class="card-content">
                    <div class="row">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h3>Германия</h3>
					<p>В этом блоке находится описание отеля. Поле содержит лишь базовую информацию. Для подробного изучения нажмите кнопку "Подробнее".</p>
				</div>
				<div class="card-action">
					<a href="#hotel">Подробнее</a>
				</div>
			</div>
		</a>
	</div>
	<div class="col s12 m3">
		<a href="#hotel">
			<div class="card">
				<div class="card-image">
					<img src="./src/img/3.jpg">
					<span class="card-title">Название</span>
				</div>
				<div class="card-content">
                    <div class="row">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h3>Германия</h3>
					<p>В этом блоке находится описание отеля. Поле содержит лишь базовую информацию. Для подробного изучения нажмите кнопку "Подробнее".</p>
				</div>
				<div class="card-action">
					<a href="#hotel">Подробнее</a>
				</div>
			</div>
		</a>
	</div>
</div>
<div class="row">
	<div class="col s12 m3">
		<a href="#hotel">
			<div class="card">
				<div class="card-image">
					<img src="./src/img/4.jpg">
					<span class="card-title">Название</span>
				</div>
				<div class="card-content">
                    <div class="row">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h3>Германия</h3>
					<p>В этом блоке находится описание отеля. Поле содержит лишь базовую информацию. Для подробного изучения нажмите кнопку "Подробнее".</p>
				</div>
				<div class="card-action">
					<a href="#hotel">Подробнее</a>
				</div>
			</div>
		</a>
	</div>
	<div class="col s12 m3">
		<a href="#hotel">
			<div class="card">
				<div class="card-image">
					<img src="./src/img/5.jpg">
					<span class="card-title">Название</span>
				</div>
				<div class="card-content">
                    <div class="row">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h3>Германия</h3>
					<p>В этом блоке находится описание отеля. Поле содержит лишь базовую информацию. Для подробного изучения нажмите кнопку "Подробнее".</p>
				</div>
				<div class="card-action">
					<a href="#hotel">Подробнее</a>
				</div>
			</div>
		</a>
	</div>
	<div class="col s12 m3">
		<a href="#hotel">
			<div class="card">
				<div class="card-image">
					<img src="./src/img/6.jpg">
					<span class="card-title">Название</span>
				</div>
				<div class="card-content">
                    <div class="row">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h3>Германия</h3>
					<p>В этом блоке находится описание отеля. Поле содержит лишь базовую информацию. Для подробного изучения нажмите кнопку "Подробнее".</p>
				</div>
				<div class="card-action">
					<a href="#hotel">Подробнее</a>
				</div>
			</div>
		</a>
	</div>
	<div class="col s12 m3">
		<a href="#hotel">
			<div class="card">
				<div class="card-image">
					<img src="./src/img/7.jpg">
					<span class="card-title">Название</span>
				</div>
				<div class="card-content">
                    <div class="row">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h3>Германия</h3>
					<p>В этом блоке находится описание отеля. Поле содержит лишь базовую информацию. Для подробного изучения нажмите кнопку "Подробнее".</p>
				</div>
				<div class="card-action">
					<a href="#hotel">Подробнее</a>
				</div>
			</div>
		</a>
	</div>
</div>
