<div class="row">
	<div class="col s12 m3">
		<div class="card">
			<div class="card-image">
				<img src="http://placehold.it/450x350">
				<span class="card-title">Название</span>
			</div>
			<div class="card-content">
				<p>В этом блоке находится описание отеля. Поле содержит лишь базовую информацию. Для подробного изучения нажмите кнопку "Подробнее".</p>
			</div>
			<div class="card-action">
				<a href="#hotel">Подробнее</a>
			</div>
		</div>
	</div>
	<div class="col s12 m3">
		<div class="card">
			<div class="card-image">
				<img src="http://placehold.it/450x350">
				<span class="card-title">Название</span>
			</div>
			<div class="card-content">
				<p>В этом блоке находится описание отеля. Поле содержит лишь базовую информацию. Для подробного изучения нажмите кнопку "Подробнее".</p>
			</div>
			<div class="card-action">
				<a href="#hotel">Подробнее</a>
			</div>
		</div>
	</div>
	<div class="col s12 m3">
		<div class="card">
			<div class="card-image">
				<img src="http://placehold.it/450x350">
				<span class="card-title">Название</span>
			</div>
			<div class="card-content">
				<p>В этом блоке находится описание отеля. Поле содержит лишь базовую информацию. Для подробного изучения нажмите кнопку "Подробнее".</p>
			</div>
			<div class="card-action">
				<a href="#hotel">Подробнее</a>
			</div>
		</div>
	</div>
	<div class="col s12 m3">
		<div class="card">
			<div class="card-image">
				<img src="http://placehold.it/450x350">
				<span class="card-title">Название</span>
			</div>
			<div class="card-content">
				<p>В этом блоке находится описание отеля. Поле содержит лишь базовую информацию. Для подробного изучения нажмите кнопку "Подробнее".</p>
			</div>
			<div class="card-action">
				<a href="#hotel">Подробнее</a>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col s12 m3">
		<div class="card">
			<div class="card-image">
				<img src="http://placehold.it/450x350">
				<span class="card-title">Название</span>
			</div>
			<div class="card-content">
				<p>В этом блоке находится описание отеля. Поле содержит лишь базовую информацию. Для подробного изучения нажмите кнопку "Подробнее".</p>
			</div>
			<div class="card-action">
				<a href="#hotel">Подробнее</a>
			</div>
		</div>
	</div>
	<div class="col s12 m3">
		<div class="card">
			<div class="card-image">
				<img src="http://placehold.it/450x350">
				<span class="card-title">Название</span>
			</div>
			<div class="card-content">
				<p>В этом блоке находится описание отеля. Поле содержит лишь базовую информацию. Для подробного изучения нажмите кнопку "Подробнее".</p>
			</div>
			<div class="card-action">
				<a href="#hotel">Подробнее</a>
			</div>
		</div>
	</div>
	<div class="col s12 m3">
		<div class="card">
			<div class="card-image">
				<img src="http://placehold.it/450x350">
				<span class="card-title">Название</span>
			</div>
			<div class="card-content">
				<p>В этом блоке находится описание отеля. Поле содержит лишь базовую информацию. Для подробного изучения нажмите кнопку "Подробнее".</p>
			</div>
			<div class="card-action">
				<a href="#hotel">Подробнее</a>
			</div>
		</div>
	</div>
	<div class="col s12 m3">
		<div class="card">
			<div class="card-image">
				<img src="http://placehold.it/450x350">
				<span class="card-title">Название</span>
			</div>
			<div class="card-content">
				<p>В этом блоке находится описание отеля. Поле содержит лишь базовую информацию. Для подробного изучения нажмите кнопку "Подробнее".</p>
			</div>
			<div class="card-action">
				<a href="#hotel">Подробнее</a>
			</div>
		</div>
	</div>
</div>
