<div class="container">
    <div class="row">
        <p class="flow-text">Уютные меблированные номера категории люкс порадуют Вас изысканным интерьером. Номера имеют свой колорит и дизайн (представлены гаммы хай-тек, классика и восточный стиль).</p>
        <div class="row">
            <div class="col s6">
                <blockquote>
                    Ключевые характеристики выбранного номера.
                </blockquote>
            </div>
            <div class="col s6">
                <blockquote>
                    Ключевые характеристики выбранного номера.
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <blockquote>
                    Ключевые характеристики выбранного номера.
                </blockquote>
            </div>
            <div class="col s6">
                <blockquote>
                    Ключевые характеристики выбранного номера.
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <blockquote>
                    Ключевые характеристики выбранного номера.
                </blockquote>
            </div>
            <div class="col s6">
                <blockquote>
                    Ключевые характеристики выбранного номера.
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <blockquote>
                    Ключевые характеристики выбранного номера.
                </blockquote>
            </div>
            <div class="col s6">
                <blockquote>
                    Ключевые характеристики выбранного номера.
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col m10 center"><button data-target="modal1" class="btn modal-trigger btn-large"><i class="material-icons left">done</i>Забронировать</button></div>
    </div>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">Имя</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Фамилия</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s6">
                        <select>
                          <!-- <option value="" disabled selected>Укажите количество человек</option> -->
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                        </select>
                        <label>Укажите количество человек</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m6">
                        <label for="in-date">Дата заезда</label>
                        <input id="in-date" type="date" name="calendar">
                    </div>
                    <div class="col m6">
                        <label for="out-date">Дата выезда</label>
                        <input id="out-date" type="date" name="calendar">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                      <textarea id="textarea1" class="materialize-textarea"></textarea>
                      <label for="textarea1">Оставьте комментарий</label>
                      <a href="#successful" class="waves-effect waves-light btn btn-order">Отправить</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat ">Отмена</a>
    </div>
</div>
<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="./src/img/room1.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Люкс<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Люкс<i class="material-icons right">close</i></span>
                <p>Дополнительная информация о номере.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="./src/img/room2.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Люкс<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Люкс<i class="material-icons right">close</i></span>
                <p>Дополнительная информация о номере.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="./src/img/room3.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Люкс<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Люкс<i class="material-icons right">close</i></span>
                <p>Дополнительная информация о номере.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="./src/img/room4.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Люкс<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Люкс<i class="material-icons right">close</i></span>
                <p>Дополнительная информация о номере.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="./src/img/room5.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Люкс<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Люкс<i class="material-icons right">close</i></span>
                <p>Дополнительная информация о номере.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="./src/img/room6.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Люкс<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Люкс<i class="material-icons right">close</i></span>
                <p>Дополнительная информация о номере.</p>
            </div>
        </div>
    </div>
</div>
