.search-form
    width: 100%
    height: auto
    background-color: #2bcaca

.material-card
    background-color: white
    margin: 10px
    padding: 10px
    box-shadow: 0 0 10px rgba(0,0,0,0.5)

.shadow
    box-shadow: 0px -1px 37px -6px rgba(0,0,0,0.75)

#custom-search-input
    padding: 3px
    border: solid 1px #E4E4E4
    border-radius: 6px
    background-color: #fff

#custom-search-input input
    border: 0
    box-shadow: none

#custom-search-input button
    margin: 2px 0 0 0
    background: none
    box-shadow: none
    border: 0
    color: #666666
    padding: 0 8px 0 10px
    border-left: solid 1px #ccc

#custom-search-input button:hover
    border: 0
    box-shadow: none
    border-left: solid 1px #ccc

#custom-search-input .glyphicon-search
    font-size: 23px

/* Makes images fully responsive

.main-color
    background-color: #2bcaca

.thumbnail
  > img, a > img
    display: block
    width: 100%
    height: auto

.carousel-inner
  > .item >
    img, a > img
      display: block
      width: 100%
      height: auto
  border-radius: 15px

/* ------------------- Carousel Styling -------------------

.carousel-caption
  background-color: rgba(0, 0, 0, 0.5)
  position: absolute
  left: 0
  right: 0
  bottom: 0
  z-index: 10
  padding: 0 0 10px 25px
  color: #fff
  text-align: left
  font-size: 0.5em

.carousel-indicators
  position: absolute
  bottom: 0
  right: 0
  left: 0
  width: 100%
  z-index: 15
  margin: 0
  padding: 0 25px 25px 0
  text-align: right

.carousel-control
  &.left, &.right
    background-image: none

/* ------------------- Section Styling - Not needed for carousel styling -------------------

.section-white
  padding: 10px 0
  background-color: white
  color: #555

@media screen and (min-width: 768px)
  .section-white
    padding: 1.5em 0

@media screen and (min-width: 992px)
  .container
    max-width: 930px

.btn-order
    background-color: #d0d0d0
    color: black
    cursor: pointer
    margin-top: 5px
    width: 100%
    height: 50px
    border: none
    font-size: 21px
    font-weight: 200

.btn-order:hover
    background-color: #bdbdbd

.btn-order:focus
     outline: none

.btn-order:active
    transform: translateY(4px)
